

/* 600px or less for tables and phones. */
/* @media only screen and (max-width: 768px) {
    .col-md-4{
        width:100%;
        align-content: center;
    }
    footer{
        position: relative;
    }
} */

