
#contact {
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
}

/* .container {
    padding: 80px 120px;
    width: 100%;
} */

/* 600px or less for tables and phones.
@media only screen and (max-width: 768px) {
    .col-md-4{
        width:100%;
        align-content: center;
    }
    footer{
        position: relative;
    }
} */


